.Romans {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-image: url('./cezar.png');
  background-size: cover;
  background-position: center;
}

.Converter {
  position: absolute;
  display: flex;
  justify-content: space-around;
  height: 85px;
  width: 750px;
  bottom: 24px;
  left: 50%;
  background: #294172;
  transform: translateX(-50%);
  color: #fff;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form-title {
  font-family: cursive;
  font-size: 24px;
}

.Button {
  background: #92CD41;
  display: inline-block;
  position: relative;
  top: -2px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  font-family: cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4AA52E;
  cursor: pointer;
}

.Button:before,
.Button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.Button:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}

.Button:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.Button:hover,
.Button:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
}

.Button--Barbarian {
  background: #E76E55;
  box-shadow: inset -4px -4px 0px 0px #8C2022;
}
.Button--Barbarian:hover,
.Button--Barbarian:focus {
  background: #CE372B;
  box-shadow: inset -6px -6px 0px 0px #8C2022;
}

.Input-input {
  position: relative;
  width: 150px;
  height: 32px;
  outline: none;
  font-family: cursive;
  font-size: 24px;
  z-index: 2;
}
.Input-wrapper {
  display: inline-block;
  position: relative;
  height: 38px;
  width: 160px;
}
.Input-wrapper:before,
.Input-wrapper:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  z-index: 1;
}
.Input-wrapper:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.Input-wrapper:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
}